.contact{
    background-color: #361e46;
    height: 100px;
    display: flex;
    align-items: center;

}
.contact-icons{
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact .contact-icons svg path{
    cursor: pointer;
}